<div class="m-4" *ngIf="loggedIn == false">
  <div class="form-row m-2">
      <input class="form-control" type="text" id="username" placeholder="username" [(ngModel)] = "username"/> 
  </div>
  <div class="form-row m-2">
    <input class="form-control" type="text" id="password" placeholder="password" [(ngModel)] = "password"/>
  </div>
  
  <div>
    <button id="submit" (click)='loginUser()' class="btn btn-primary">Log In</button>
  </div>
</div>
<div *ngIf="loggedIn">
  <h3>Welcome {{result.username}}</h3>
</div>