<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0/EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		<property name="hibernate.connection.url">jdbc:oracle:thin:@kienchin.co4cbltc301f.us-east-2.rds.amazonaws.com:1521:MYDB</property>
		<property name="hibernate.connection.username">kienchin</property>
		<property name="hibernate.connection.password">123456789</property>
		<!-- 
		<property name="hibernate.connection.url">jdbc:oracle:thin:@sy-revature.cugxe1ca0ol9.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">sy18</property>
		<property name="hibernate.connection.password">Databaser14</property>
		 -->
		<property name="dialect">org.hibernate.dialect.Oracle12cDialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="com.revature.models.User" />
		<mapping class="com.revature.models.Address" />
		<mapping class="com.revature.models.Bookmark" />
	</session-factory>
</hibernate-configuration>