<div class="m-4" *ngIf="displayForm">
  <div class="form-row m-2">
    <input class="form-control" type="text" id="firstname" placeholder="firstname" [(ngModel)]="firstname" />
  </div>
  <div class="form-row m-2">
    <input class="form-control" type="text" id="lastname" placeholder="lastname" [(ngModel)]="lastname" />
  </div>
  <div class="form-row m-2">
    <input class="form-control" type="text" id="username" placeholder="username" [(ngModel)]="username" />
  </div>
  <div class="form-row m-2">
    <input class="form-control" type="password" id="password" placeholder="password" [(ngModel)]="password" />
  </div>
  <div class="form-row m-2">
    <input class="form-control" type="email" id="email" placeholder="email" [(ngModel)]="email" />
  </div>
  <div class="form-row m-2">
    <input class="form-control" type="text" id="address" placeholder="address/zip" [(ngModel)]="address" />
  </div>
  <div>
    <button id="submit" (click)='submitUser()' class="btn btn-primary">Sign Up</button>
  </div>
</div>
<div *ngIf="displayUser">
  <h3>Congratulations, {{username}}!</h3>
  <p>Your account has been created. You may now log in.</p>
</div>
<div *ngIf="displayFail">
  <h4>Sorry, account creation failed.</h4>
</div>